@use "vars" as v;

// Ссылки
a{
    text-decoration: none;
    color: var(--primary);
    transition: v.$transition-hover;
    &:hover{
        transition: v.$transition-hover;
        transform: translateY(-2px);
    }
}

// Кнопки
button{
    color: var(--primary);
    border: 0;
    background: var(--bg-buttons);
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 5px 0 v.$shadow;
    cursor: pointer;
    transition: v.$transition-hover;
    &:hover{
        transition: v.$transition-hover;
        color: var(--btn-text-hover);
        background: var(--btn-bg-hover);
    }
    &:active{
        transition: v.$transition-hover;
        box-shadow: inset 0 0 5px 0 v.$shadow;
    }
}