@use "vars" as v;

// Ссылки
a{
    text-decoration: none;
    color: var(--primary);
    transition: v.$transition-hover;
    &:hover{
        transition: v.$transition-hover;
        transform: translateY(-2px);
    }
}