@use "vars" as v;
@use "mixins" as m;

// Ссылки
a{
    text-decoration: none;
    color: var(--primary);
    transition: v.$transition-hover;
    &:hover{
        transition: v.$transition-hover;
        transform: translateY(-2px);
    }
}

// Кнопки
button{
    @include m.buttons-and-controls();
    @include m.controls-icons();
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
}