@use "vars" as v;

// Миксин для ограничения ширины контента
@mixin content-limitations() {
    width: 100%;
    max-width: 1800px;
    padding: 0 2rem;
}

// Миксин для элементов с фоном с изолиниями
@mixin isoline-bg() {
    position: absolute;
    height: inherit;
    width: 100%;
    z-index: 0;
    background: var(--secondary);
    mask-image: url('../assets/background_pattern.svg');
    mask-size: 1920px;
    mask-repeat: no-repeat;
    mask-position: 50% 25%;
}

// Миксин для элементов
@mixin elements-background() {
    background: var(--bg-elements);
    color: var(--primary);
    border: 0;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 0 v.$shadow;
}

// Миксин для кнопок и элементов управления
@mixin buttons-and-controls() {
    color: var(--primary);
    border: 0;
    background: var(--bg-buttons);
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 5px 0 v.$shadow;
    cursor: pointer;
    transition: v.$transition-hover;
    &:hover{
        transition: v.$transition-hover;
        color: var(--btn-text-hover);
        background: var(--btn-bg-hover);
    }
    &:active{
        transition: v.$transition-hover;
        box-shadow: inset 0 0 5px 0 v.$shadow;
    }
}

// Миксин для иконок внутри кнопок
@mixin controls-icons(){
    img{
        width: 24px;
        height: 24px;
        filter: var(--icon-filter);
        transition: v.$transition-hover;
    }
    &:hover{
        img{
            transition: v.$transition-hover;
            filter: var(--icon-filter-hover);
        }
    }
}

// Миксин для компонентов, реализующих панель выбора через input:radio
@mixin radio-switch(){
    display: flex;
    width: fit-content;
    gap: 0.5rem;
    @include elements-background();
    padding: 0.5rem;
    .switch-options{
        @include buttons-and-controls();
        box-shadow: 0 0 3px 0 v.$shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        // Иконки
        @include controls-icons();
        &:has(input:checked){
            color: var(--btn-text-hover);
            background: var(--btn-bg-hover);
            img{
                filter: var(--icon-filter-hover);
            }
        }

        // Маскировка input:radio
        input{
            display: none;
        }
    }
}