@use "vars" as v;

// Миксин для ограничения ширины контента
@mixin content-limitations() {
    width: 100%;
    max-width: 1700px;
    padding: 0 2rem;
}

// Миксин для элементов с фоном с изолиниями
@mixin isoline-bg() {
    position: absolute;
    height: inherit;
    width: 100%;
    z-index: 0;
    background: var(--secondary);
    mask-image: url('../assets/background_pattern.svg');
    mask-size: 1920px;
    mask-repeat: no-repeat;
    mask-position: 50% 25%;
}

// Миксин для элементов
@mixin elements-background() {
    background: var(--bg-elements);
    color: var(--primary);
    border: 0;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 v.$shadow;
}