@media screen and (max-width: 768px){

    // Заголовок
    header{
        .header-content{
            justify-content: center !important;
        }

        h1, .header-description{
            display: none;
        }
    }

    // Футер
    footer{
        .footer-content{
            height: auto !important;
            flex-wrap: wrap !important;
            justify-content: center !important;
            gap: 1.2rem !important;
            padding: 2rem !important;

            .footer-links-block{
                flex-grow: 1;
                width: 150px;
            }

            .author{
                width: 100%;
                padding-top: 1rem;
                text-align: right;
            }
        }

        .year-info{
            font-size: 0.8rem;
            text-align: center;
        }
    }

    // Кнопка скролла наверх
    .scroll-top{
        bottom: 1rem !important;
    }

    // СТРАНИЦА МАГАЗИНА
    // Строка с элементами управления контентом
    .store-control-row{
        flex-direction: column;
        align-items: end;
        margin-bottom: 1rem;

        .platform-switch{
            width: 100% !important;
            
            .switch-options {
                flex-grow: 1;

                span{
                    display: none;
                }
            }
        }

        .search-bar{
            width: 100%;
        }

        .cart-fav-links{
            width: 100%;
            justify-content: space-between;

            a{
                flex-grow: 1;
            }
        }
    }

    // Поле с контентом магазина
    .store-content-block{
        flex-direction: column;

        .tile-control-row{
            height: auto !important;
            flex-direction: column;
            gap: 1rem;

            &.under-tiles{
                flex-direction: column-reverse !important;
            }

            .tile-control-selects{

                .custom-select{
                    flex-grow: 1;
                }

                .tile-per-page-title{
                    display: none;
                }
            }

            .results-count{
                justify-content: start !important;
            }

            .pagination-block > button {
                flex-grow: 1;
            }
        }
    }
    

    // СТРАНИЦА С ИНФОРМАЦИЕЙ О ИГРЕ
    // Контейнер для всего контента о игре
    .game-info-page-content{

        .content-row:has(.theme-toggler){
            flex-direction: column-reverse;
            align-items: end;
            
            h1{
                width: 100%;
                text-align: center;
                font-size: 1.5rem;
            }
        }

        .main{
            flex-direction: column;

            .left, .right{
                max-width: unset !important;
                width: 100% !important; 
            }
        }
    
    }

    // Скриншоты
    .screenshots-container{

        .screenshot-item{
            width: 150px !important;
        }
    }

    // Информация о игре
    .game-info-block{
        font-size: 1rem !important;

        &:not(:has(.description-block)){
            font-size: 0.8rem !important;
        }
    }

    // Всплывающее окно для достижений
    .popup-window:has(.popup-achievements){
        height: calc(100vh - 3rem) !important;

        h2{
            font-size: 1rem;
            padding-right: 2rem;
        }
    }

    // Всплюывающее окно с выбором платформы
    .popup-platform-selector{
        h1{
            font-size: 1.3rem;
        }

        .platforms-list{
            flex-direction: column;
    
            button{
                width: 100% !important;
                flex-direction: row !important;
                gap: 1rem !important;
                padding: 1rem;
            }
        }
    }

    // СТРАНИЦА С КОРЗИНОЙ
    .cart-row{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 

        .cart-item{
            flex-direction: column !important;

            .item-controls{
                flex-direction: row !important;
                width: 100% !important;
                gap: 1rem;
                
                button, a{
                    flex-grow: 1;
                    font-size: 0.9rem !important;
                }
            }
        }

        .cart-control-menu{
            width: 100% !important;
        }
    }
}