// Подключение шрифта
@font-face {
    font-family: "Jost";
    src: url('../assets/Jost-VariableFont_wght.ttf');
}

// ЦВЕТА
// Для светлой темы


// Для тёмной темы
$color-primary-dark: #ffffff;
$color-secondary-dark: #ffffff66;

$background-main-dark: #111418;
$background-elements-dark: #141721;

// Общие
$text-secondary: #777777;

// Переходы
$transition-hover: .25s ease-in-out;

// АНИМАЦИЯ
// Анимация "дыхания" логотипа
@keyframes logo-breathe {
    from{transform: translateY(4px);}
    50%{transform: translateY(-2px);}
    to{transform: translateY(4px);}
}