// Подключение шрифта
@font-face {
    font-family: "Jost";
    src: url('../assets/Jost-VariableFont_wght.ttf');
}

// ЦВЕТА
// Для светлой темы


// Для тёмной темы
$color-primary-dark: #ffffff;
$color-secondary-dark: #ffffff66;

$background-main-dark: #111418;
$background-elements-dark: #141721;

// Общие