// Подключение шрифта
@font-face {
    font-family: "Jost";
    src: url('../assets/Jost-VariableFont_wght.ttf');
}

// ЦВЕТА
// Для светлой темы
$color-primary-light: #000000;
$color-secondary-light: #00000066;

$background-main-light: #dfdfdf;
$background-elements-light: #ffffff;
$background-tiles-light: #141721;


// Для тёмной темы
$color-primary-dark: #ffffff;
$color-secondary-dark: #ffffff66;

$background-main-dark: #111418;
$background-elements-dark: #21262e;
$background-tiles-dark: #21262e;

// Общие
$text-secondary: #666666;
$shadow: #000000aa;

// Переходы
$transition-hover: .25s ease-in-out;

// АНИМАЦИЯ
// Анимация "дыхания" логотипа
@keyframes logo-breathe {
    from{transform: translateY(4px);}
    50%{transform: translateY(-2px);}
    to{transform: translateY(4px);}
}