// Подключение шрифта
@font-face {
    font-family: "Jost";
    src: url('../assets/Jost-VariableFont_wght.ttf');
}

// ЦВЕТА
// Для светлой темы
$color-primary-light: #000000;
$color-secondary-light: #00000066;

$background-main-light: #dfdfdf;
$background-elements-light: #ffffff;

$background-buttons-light: #cecece;
$button-hover-text-light: #ffffff;
$button-hover-background-light: #2778d4;

// Для тёмной темы
$color-primary-dark: #ffffff;
$color-secondary-dark: #ffffff66;

$background-main-dark: #111418;
$background-elements-dark: #21262e;

$background-buttons-dark: #343c47;
$button-hover-text-dark: #000000;
$button-hover-background-dark: #ffffff;

// Общие
$text-secondary: #666666;
$shadow: #000000aa;

// Переходы
$transition-hover: .25s ease-in-out;

// АНИМАЦИЯ
// Анимация "дыхания" логотипа
@keyframes logo-breathe {
    from{transform: translateY(4px);}
    50%{transform: translateY(-2px);}
    to{transform: translateY(4px);}
}

// Анимация "поиска" для прелоадера
@keyframes logo-search {
    from{transform: translate(0);}
    15%{transform: translate(-2px, 2px);}
    35%{transform: translate(-2px, 2px);}
    50%{transform: translate(2px, 2px);}
    70%{transform: translate(2px, 2px);}
    85%{transform: translate(0);} 
    to{transform: translate(0);}
}