@use "vars" as v;
@use "mixins" as m;

// Подключение цветов в зависимости от темы приложения
:root{
    --primary: #{v.$color-primary-dark};
    --secondary: #{v.$color-secondary-dark};
    --bg-main: #{v.$background-main-dark};
    --bg-el: #{v.$background-elements-dark};
}

// Основные стили
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Jost', sans-serif;
    font-size: 13pt;
}

// Заголовок и его содержимое
header{
    position: relative;
    height: 97px;
    background: var(--bg-main);
    border-bottom: 3px solid var(--secondary);
    box-sizing: content-box;
    // Фон с изолнинями
    .background{
        position: absolute;
        height: inherit;
        width: 100%;
        z-index: 0;
        background: var(--secondary);
        mask-image: url('../assets/background_pattern.svg');
        mask-size: 1920px;
        mask-repeat: no-repeat;
        mask-position: 50% 25%;
    }
    // Фоновый градиент и контейнер для содержимого
    .header-container{
        position: relative;
        z-index: 1;
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary);
        background: linear-gradient(90deg, var(--bg-main) 15%, #00000000, var(--bg-main) 85%);
    }
    // Разметка для содержимого
    .header-content{
        @include m.content-limitations();
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // Логотип
    .svg-logo-color{
        stroke: var(--primary);
        animation: logo-breathe 3s ease-in-out infinite;
    }
    // Описание проекта
    .header-description{
        h2{
            letter-spacing: 0.05rem;
        }
        p{
            letter-spacing: 0.125rem;
        }
    }
}

// Анимация "дыхания" логотипа
@keyframes logo-breathe {
    from{transform: translateY(4px);}
    50%{transform: translateY(-2px);}
    to{transform: translateY(4px);}
}

// Контент приложения
main{
    width: 100%;
    min-height: calc(100vh - 100px);
    background: var(--bg-main);
}