@use "vars" as v;
@use "mixins" as m;
@use "elements";

// Подключение цветов в зависимости от темы приложения
:root{
    --primary: #{v.$color-primary-dark};
    --secondary: #{v.$color-secondary-dark};
    --bg-main: #{v.$background-main-dark};
    --bg-el: #{v.$background-elements-dark};
}

// Основные стили
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Jost', sans-serif;
    font-size: 13pt;
}

// Заголовок и его содержимое
header{
    position: relative;
    height: 97px;
    background: var(--bg-main);
    border-bottom: 3px solid var(--secondary);
    box-sizing: content-box;
    // Фон с изолнинями
    .background{
        @include m.isoline-bg();
    }
    // Фоновый градиент и контейнер для содержимого
    .header-container{
        position: relative;
        z-index: 1;
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary);
        background: linear-gradient(90deg, var(--bg-main) 15%, #00000000, var(--bg-main) 85%);
    }
    // Разметка для содержимого
    .header-content{
        @include m.content-limitations();
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // Логотип
    .svg-logo-color{
        stroke: var(--primary);
        animation: logo-breathe 3s ease-in-out infinite;
    }
    // Описание проекта
    .header-description{
        h2{
            letter-spacing: 0.05rem;
        }
        p{
            letter-spacing: 0.125rem;
        }
    }
}

// Контент приложения
main{
    width: 100%;
    min-height: calc(100vh - 350px);
    background: var(--bg-main);
}

// Футер
footer{
    width: 100%;
    color: var(--primary);
    background: var(--bg-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // Контент футера
    .footer-content{
        @include m.content-limitations();
        max-width: calc(1700px - 4rem);
        height: 200px;
        border-top: 3px solid var(--secondary);
        padding: 1rem 0.5rem;
        display: flex;
        gap: 2.5rem;
        .author{
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }

    // Блок ссылок
    .footer-links-block{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .footer-title{
            padding-bottom: 0.5rem;
        }
        a{
            width: fit-content;
            color: v.$text-secondary;
            &:hover{
                color: var(--primary);
            }
        }
    }

    // Последняя строка
    .contrib-line{
        border-top: 3px solid var(--secondary);
        position: relative;
        width: 100%;
        height: 50px;
        // Фон с изолнинями
        .background{
            @include m.isoline-bg();
            mask-position: 50% 80%;
        }
        // Контейнер с содержимым
        .contribution{
            position: relative;
            height: inherit;
            z-index: 1;
            background: linear-gradient(180deg, #00000000 0%, var(--bg-main) 75%), linear-gradient(90deg, var(--bg-main) 15%, #00000000, var(--bg-main) 85%);
            display: flex;
            align-items: center;
            justify-content: center;
            .contribution-content{
                @include m.content-limitations();
            }
            .year-info{
                color: v.$text-secondary;
            }
        }
    }
    

}