@use "vars" as v;
@use "mixins" as m;
@use "elements";

// Подключение цветов в зависимости от темы приложения
:root, :root[theme=dark]{
    --primary: #{v.$color-primary-dark};
    --secondary: #{v.$color-secondary-dark};
    --bg-main: #{v.$background-main-dark};
    --bg-elements: #{v.$background-elements-dark};
    --bg-buttons: #{v.$background-buttons-dark};
    --btn-text-hover: #{v.$button-hover-text-dark};
    --btn-bg-hover: #{v.$button-hover-background-dark};

    --icon-filter: invert(1);
    --icon-filter-hover: invert(0);
}
:root[theme=light]{
    --primary: #{v.$color-primary-light};
    --secondary: #{v.$color-secondary-light};
    --bg-main: #{v.$background-main-light};
    --bg-elements: #{v.$background-elements-light};
    --bg-buttons: #{v.$background-buttons-light};
    --btn-text-hover: #{v.$button-hover-text-light};
    --btn-bg-hover: #{v.$button-hover-background-light};

    --icon-filter: invert(0);
    --icon-filter-hover: invert(1);
}

// Основные стили
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Jost', sans-serif;
    font-size: 13pt;
}

// Заголовок и его содержимое
header{
    position: relative;
    height: 97px;
    background: var(--bg-main);
    border-bottom: 3px solid var(--secondary);
    box-sizing: content-box;
    // Фон с изолнинями
    .background{
        @include m.isoline-bg();
    }
    // Фоновый градиент и контейнер для содержимого
    .header-container{
        position: relative;
        z-index: 1;
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary);
        background: linear-gradient(90deg, var(--bg-main) 15%, #00000000, var(--bg-main) 85%);
    }
    // Разметка для содержимого
    .header-content{
        @include m.content-limitations();
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // Логотип
    .logo-link{
        &:hover{
            transform: none;
        }
    }
    .svg-logo-color{
        stroke: var(--primary);
        animation: logo-breathe 3s ease-in-out infinite;
    }
    // Описание проекта
    .header-description{
        h2{
            letter-spacing: 0.05rem;
        }
        p{
            letter-spacing: 0.125rem;
        }
    }
}

// Контент приложения
main{
    width: 100%;
    min-height: calc(100vh - 353px);
    background: var(--bg-main);
    position: relative;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    .page-content{
        @include m.content-limitations();
    }
}

// Всплывающее окно
.toast-container{
    @include m.elements-background();
    max-width: 300px;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    .close{
        position: inherit;
        right: 0.75rem;
        top: 0.5rem;
        cursor: pointer;
    }
    h3{
        margin: -0.25rem 0 0.25rem;
    }
}

// Футер
footer{
    width: 100%;
    color: var(--primary);
    background: var(--bg-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // Контент футера
    .footer-content{
        @include m.content-limitations();
        max-width: calc(1800px - 4rem);
        height: 200px;
        border-top: 3px solid var(--secondary);
        padding: 1rem 0.5rem;
        display: flex;
        gap: 3.5rem;
        .author{
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }

    // Блок ссылок
    .footer-links-block{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .footer-title{
            padding-bottom: 0.5rem;
        }
        a{
            width: fit-content;
            color: v.$text-secondary;
            &:hover{
                color: var(--btn-bg-hover);
            }
        }
    }

    // Последняя строка
    .contrib-line{
        border-top: 3px solid var(--secondary);
        position: relative;
        width: 100%;
        height: 50px;
        // Фон с изолнинями
        .background{
            @include m.isoline-bg();
            mask-position: 50% 80%;
        }
        // Контейнер с содержимым
        .contribution{
            position: relative;
            height: inherit;
            z-index: 1;
            background: linear-gradient(180deg, #00000000 0%, var(--bg-main) 75%), linear-gradient(90deg, var(--bg-main) 15%, #00000000, var(--bg-main) 85%);
            display: flex;
            align-items: center;
            justify-content: center;
            .contribution-content{
                @include m.content-limitations();
            }
            .year-info{
                color: v.$text-secondary;
            }
        }
    }
}

// Прелоадер
.preloader{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    svg:has(.svg-logo-color){
        transform: scale(2);
    }
    .svg-logo-color{
        stroke: var(--primary);
    }
    .logo-eye{
        animation: logo-search 3s ease-in-out infinite;
    }
    h2{
        color: var(--primary);
    }
}

// СТРАНИЦА МАГАЗИНА
// Строка с элементами управления контентом
.store-control-row{
    display: flex;
    gap: 1rem;
    width: 100%;
    // Выборы
    .switch-block{
        display: flex;
        gap: 0.5rem;
        @include m.elements-background();
        padding: 0.5rem;
        .switch-options{
            @include m.buttons-and-controls();
            box-shadow: 0 0 3px 0 v.$shadow;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            // Иконки
            @include m.controls-icons();
            &:has(input:checked){
                color: var(--btn-text-hover);
                background: var(--btn-bg-hover);
                img{
                    filter: var(--icon-filter-hover);
                }
            }

            // Маскировка input:radio
            input{
                display: none;
            }

        }
    }

    // Ссылки, мимикрирующие под кнопки
    .store-control-links{
        @include m.buttons-and-controls();
        @include m.controls-icons();
        padding: 0.3rem 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        &:hover{
            transform: none;
        }
    }

    // Поле для ввода
    .search-bar{
        flex-grow: 1;
        @include m.elements-background();
        border: 1px solid var(--bg-elements);
        outline: none;
        transition: v.$transition-hover;
        font-family: 'Jost', sans-serif;
        font-size: 1rem;
        &:focus{
            transition: v.$transition-hover;
            border: 1px solid v.$text-secondary;
        }
        &::placeholder{
            color: v.$text-secondary;
        }
    } 
}

// Поле с контентом магазина
.store-content-block{
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    min-height: calc(100vh - 353px - 3rem - 53px);
}

// Левая панель с элементами выборки
.store-select-panel{
    display: flex;
    flex-direction: column;
    gap: inherit;
    min-width: 265px;

    // Кнопка "Мне повезёт"
    .get-lucky-btn{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        height: 53px;
        font-weight: bold;
        font-size: 1.1rem;
    }

    // Панель с элементами выборки
    .select-block{
        @include m.elements-background();
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 0.5rem;
        .select-block-title{
            cursor: pointer;
        }

        // Кнопка "раскрытия" меню
        .toggle-arrow{
            position: absolute;
            top: 0.5rem;
            right: 0.7rem;
            cursor: pointer;
            transition: v.$transition-hover;
            &.active{
                transition: v.$transition-hover;
                transform: rotate(180deg);
            }
        }

        label{
            cursor: pointer;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            .img-bg{
                width: 24px;
                height: 24px;
                border: 2px solid var(--primary);
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: v.$transition-hover;
            }
            img{
                width: 24px;
                height: 24px;
                filter: var(--icon-filter-hover);
            }
            .game-count{
                font-size: 0.75rem;
                color: var(--secondary);
                margin-bottom: -0.25rem;
            }

            // Отображение при выборе пункта
            &:not(:has(input:checked)){
                img{
                    display: none;
                }
            }
            &:has(input:checked){
               .img-bg{
                    background: var(--btn-bg-hover);
               }
            }

            // Наведение
            &:hover{
                .img-bg{
                    transition: v.$transition-hover;
                    background: var(--btn-bg-hover);
                }
            }
        }

        // Маскировка input:checkbox
        input{
            display: none;
        }
    }
}

// Контейнер с тайлами
.store-tile-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

// Строка с элементами управления тайлами
.tile-control-row{
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: space-between;
    &.background{
        @include m.elements-background();
        padding: 0.5rem;
    }
    &.under-tiles{
        flex-direction: row-reverse;
        padding: 0.5rem;
    }

    .tile-control-selects{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        .tile-per-page-title{
            padding-left: 0.5rem;
        }
    }

    // Сортировка
    .custom-select:nth-of-type(1){
        width: 225px;
    }

    // Количество плиток на странице
    .custom-select:nth-of-type(2){
        width: 75px;
    }
}

// Пагинация 
.pagination-block{
    display: flex;
    box-shadow: 0 0 5px 0 v.$shadow;
    border-radius: 0.3rem;
    // Кнопка
    button{
        border-radius: 0;
        box-shadow: none;
        min-width: 37px;
        &.left{
            border-radius: 0.3rem 0 0 0.3rem;
        }
        &.right{
            border-radius: 0 0.3rem 0.3rem 0;
        }
        &.single{
            border-radius: 0.3rem; 
        }
        &.selected, &.disabled{
            background: var(--secondary);
            pointer-events: none;
        }
    }
}

// Контейнер для тайлов (плиток)
.tile-content{
    flex-grow: 1;
}